.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--primary-color);
}

.balance {
  display: flex;
  gap: 6px;
  align-items: center;
}
