.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin: 10px auto 0 auto;
  max-width: 940px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(28, 39, 60, 0.05);
  @media only screen and (max-width: 1024px) {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.column-wrapper {
  padding: 20px;
  display: flex;
  gap: 70px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      max-width: 50%;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
