.input {
  &-range {
    width: 100%;
  }
  &-text {
    display: inline-block;
    max-width: 133px;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #c0ccda;
    border-radius: 4px;
  }
  &-number {
  }
  &-password {
  }
}
