.button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #7987a1;
  background-color: #7987a1;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  @media only screen and (max-width: 420px) {
    font-size: 14px;
  }
  &--inline {
    display: inline-block;
    width: auto;
    @media only screen and (max-width: 420px) {
      padding: 7.5px 10px;
      font-size: 12px;
    }
  }
  &:hover {
    background-color: darken(#7987a1, 7%);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #c0ccda;
    color: #7987a1;
    border-color: #7987a1;
  }
}
